<div class="renewal-request  col-md-12">
    <div class="container-fluid" style="
      background-color: var(--bs-gray-200); padding-top: 5px;">
        <h3 _ngcontent-qfh-c7="">Surrender POS Screen</h3>
    </div>

    <!-- 1st container -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text">Prefilled Columns</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text">Retention Tools</div>
                </div>
            </div>
            <div class="col-6">
                <div class="input-group">

                </div>
            </div>
        </div>
    </div>

    <!-- 2nd container -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text">Policy No</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <td>800012302345</td>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 ">
                <div class="input-group">
                    <div class="input-group-text border-0">Name mentioned as bank ac</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" placeholder=" ">
                </div>
            </div>
        </div>
    </div>

    <!-- 3rd container -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text">Policy Status</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <td>Active</td>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text">Bank IFSC</div>
                </div>
            </div>
            <div class="col-md-6">
                <input type="text" placeholder="">
            </div>
        </div>
    </div>

    <!-- 4 th row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text">Proposer Name</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <td>Sudhansu Sen</td>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text">Bank Name</div>
                </div>
            </div>
            <div class="col-md-6">
                <input type="text" placeholder="">
            </div>
        </div>
    </div>

    <!-- 5th row -->
    <div class="    container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text">Life Assured Name</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <td>Mrs Monika Sen</td>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text">Bank Account Number</div>
                </div>
            </div>
            <div class="col-md-6">
                <input type="text" placeholder="">
            </div>
        </div>
    </div>

    <!-- 6th row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text">Plan</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <td>Long term life insurance</td>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-text">Confirm Bank Account Number</div>
                </div>
            </div>
            <div class="col-md-6">
                <input type="text" placeholder="">
            </div>
        </div>
    </div>

    <!-- 7th row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text">Premium</div>
                </div>
            </div>
            <div class="col-6">
                <td>100,000</td>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text">
                        <td>Customer signing date & time</td>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-text">
                        <td><input type="datetime-local" class="date" id="start-date" placeholder="choose date / time">
                        </td>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 8th row -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text">Surrender Value</div>
                </div>
            </div>
            <div class="col-md-6">
                <td>20,000</td>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text">
                        <td>Call log date & time</td>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <td><input type="datetime-local" class="date" id="start-date" placeholder="choose date / time">
                </td>
            </div>
        </div>
    </div>

    <!-- 9th row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text">CKYC Flag</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <td></td>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text">Reason For Dealy(if applicable)</div>
                </div>
            </div>
            <div class="col-md-6">
                <input type="text" placeholder="">
            </div>
        </div>
    </div>
    <!-- 10th -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text">Bench Remarks</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text"></div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> -->
            </div>
        </div>
    </div>
    <!-- 11 th row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text">Reason For Surrender</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" placeholder="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <!-- <div class="input-group-text">Customer Signing date & time</div> -->
                </div>
            </div>
            <div class="col-md-6">
                <!-- <input type="datetime-local" class="date" id="start-date" placeholder="choose date / time"> -->
            </div>
        </div>

    </div>

    <!-- 12th row -->

    <!-- 13th row -->


    <div class="container-fluid" style=" background-color: var(--bs-gray-200); padding-top: 5px;">
        <h3 _ngcontent-qfh-c7="">POS SCREEN </h3>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text">Info</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text">Action</div>
                </div>
            </div>
            <div class="col-6">
                <div class="input-group">
                    <td></td>
                </div>
            </div>
        </div>
    </div>

    <!-- 14th row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text">Penny Drop Result</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <td></td>
                </div>
            </div>
        </div>                                                                                                                                                                                                                                                                                      
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text">
                         <td></td>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- <td><button type="button" class="btn btn-secondary">Initiate Penny Drop</button></td> -->
                <div class="input-group">
                    <td><button type="button" class="btn btn-secondary">Initiate Penny Drop</button></td>
                </div>
            </div>
        </div>
    </div>

    <!-- 15th row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text">EKYC/CKYC</div>
                </div>
            </div>
            <div class="col-md-6">
                <td></td>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text">
                        Bank Account De-dupe
                    </div>
                </div>
            </div>
            <div class="col-6">
                <td></td>
            </div>
        </div>
    </div>


    <!-- 15.1 -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text">Last six month personal details change</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text">
                        <td>Pass JV for FT</td>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <td><button type="button" class="btn btn-secondary">Click to FT</button></td>
            </div>
        </div>
    </div>

    <!-- 15.2 row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text">Policy bond/indemnity </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">  
                    <div class="input-group-text">Policy/App no</div>
                </div>
            </div>
            <div class="col-md-6">
                <td>1333555</td>
            </div>
        </div>
    </div>

    <!-- 16 th row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text">Fund Transfer </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-text">Ft Amount</div>
                </div>
            </div>
            <div class="col-md-6">
                <td>30,000</td>
            </div>

        </div>
    </div>
    <!-- 17th row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text">Relation to FT policy</div>
                </div>
            </div>
            <div class="col-md-6">
                <select class="form-select" aria-label="Premium type">
                    <option value=>Self</option>
                    <option value=>Spouse</option>
                    <option value=>Children</option>
                    <option value=>Debtor</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text">
                        Name of FT policy owner
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <td>Mr Arjune Tyagi</td>
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <div class="input-group">
                    <div class="input-group-text">Fund Transfer </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="input-group">
                    <div class="input-group-text">Ft Amount</div>
                </div>
            </div>
            <div class="col-md-6">
                <td>30,000</td>
            </div>
        </div>
    </div>

    <div class="container-fluid" style=" background-color: var(--bs-gray-200); padding-top: 5px;"></div>
    <div class="container-fluid mt-2 ">
        <div class="row">
            <div class="col-4"></div>
        </div>

        <div class="row col-4 d-flex mb-4 ">
            <div class="input-group ">
                <div class="col"  style="text-align: center;">
                    <button type="button"  class="btn btn-secondary ">Approve</button>
                    <button type="button" style="margin-left:10px" class="btn btn-secondary">Raise Requirement</button>
                </div>
                <!-- <div class="col">
                    <button type="button" class="btn btn-secondary">Raise Requirement</button>
                </div> -->
            </div>
        </div>
        <div class="row">
            <div class="col-4"></div>
        </div>
    </div>
</div>
<!--  -->