<div class="sidebar">
    <div class="s-button col-md-2">
        <button type="button" class="btn btn-info" (click)="toggleSearchForm()" style="width: 100px;">
            {{ showSearchForm ? 'Close' : 'Search' }}
            <i class="fa" [ngClass]="{'fa-search': !showSearchForm, 'fa-close': showSearchForm}" aria-hidden="true"
                style="margin-left:5px;"></i></button>
    </div>
    <form class="search-form" [style.display]="showSearchForm ? 'block' : 'none'">
        <div class="form-group">
            <!-- <label for="search">Policy number:</label> -->
            <div class="search-input pt-3 pb-1">
                <label for="category">Policy No:</label>
                <input type="text" id="search" name="search" placeholder="policy no">
            </div>
            <div class="search-input mt-2">
                <label for="category">App No:</label>
                <input type="text" id="search" name="search" placeholder="application no">
            </div>
            <div class="search-input mt-2">
                <label for="category">Mobile No:</label>
                <input type="text" id="search" name="search" placeholder="phone number">
            </div>
            <div class="search-input mt-2">
                <label for="category">Customer Id:</label>
                <input type="text" id="search" name="search" placeholder="customer id">
            </div>
            <div class="search-input mt-2">
                <label for="category">PAN No:</label>
                <input type="text" id="search" name="search" placeholder="pan number">
            </div>
            <!-- <div class="search-input mt-2">
                <select id="category" name="category">
                    <option value="all">Choose search type</option>
                    <option value="books">Policy No</option>
                    <option value="movies">Mobile No:</option>
                    <option value="music">Customer Id</option>
                    <option value="music">PAN No</option>
                </select>
                <input type="text" id="search" name="search" placeholder="select type">
            </div> -->
        </div>
        <div class="class" style="display:flex; margin-top:10px; margin-bottom:10px;">
            <button type="button" class="btn btn-info" style="margin-right: 10px;" (click)=advancetoggleForm()>Advance
                Search<i class="fa fa-search-plus" style="margin-left:5px;"></i></button>
            <button type="button" class="btn btn-info">Submit</button>
        </div>

    </form>
</div>


<div class="advance-sidebar" [style.display]="advancesearchForm ? 'block' : 'none'">
    <form class="search-form1">
        <div class="form-group">
            <!-- <label for="search">Policy number:</label> -->
            <div class="search-input pt-3 pb-3">
                <label for="category">Name:</label>
                <input type="text" id="search" name="search" placeholder="first Name / last Name">
            </div>
            <div class="search-input">
                <label for="category">DOB:</label>
                <input type="date" class="form-control" step="60" id="datetime" formControlName="date">
            </div>
            <div class="search-input mt-2">
                <label for="category">Role:</label>
                <select id="category" name="category">
                    <option value="">Role Type</option>
                    <option value="books">LA</option>
                    <option value="movies">PO</option>
                    <option value="music">Nominee</option>
                </select>
                <!-- <input type="text" id="search" name="search" placeholder=""> -->
            </div>
            <div class="search-input mt-2">
                <label for="category">Case Type:</label>
                <select id="category" name="category">
                    <option value="">Choose Case Type</option>
                    <option value="books">Individual</option>
                    <option value="movies">HUF</option>
                    <option value="music">Key man</option>
                </select>
            </div>
            <div class="search-input mt-2">
                <label for="category">Assigned flag:</label>
                <select id="category" name="category">
                    <option value="">Yes</option>
                    <option value="books">No</option>
                </select>
            </div>
            <div class="search-input mt-2">
                <label for="category">MWPA flag:</label>
                <select id="category" name="category">
                    <option value="">Yes</option>
                    <option value="books">No</option>
                </select>
            </div>
            <!-- <div class="search-input mt-2">
                <select id="category" name="category">
                    <option value="all">Advance search type</option>
                    <option value="books">Policy No</option>
                    <option value="movies">Mobile No:</option>
                    <option value="music">Customer Id</option>
                    <option value="music">PAN No</option>
                </select>
                <input type="text" id="search" name="search" placeholder="select type">
            </div> -->
        </div>
        <div class="class" style="display:flex; margin-top:10px; margin-bottom:10px;">
            <button type="button" (click)=toggleSearchForm() class="btn btn-info" style="margin-right: 10px;">Normal
                Search<i class="fa fa-arrow-left" style="margin-left:5px;"></i></button>
            <button type="button" class="btn btn-info">Submit</button>
        </div>
    </form>
</div>