<div class="renewal-request  col-md-12">
    <div class="container-fluid" style="
      background-color: var(--bs-gray-200); padding-top: 5px;">
      <h3 _ngcontent-qfh-c7="">Send Documents List</h3>
    </div>
    <div class="container-fluid">
        <table class="table table-responsive table-bordered" style="text-align: center;">
          <thead>
            <tr>
              <th class="col-md-3">Document Name</th>
              <th class="col-md-3">Select Date Range</th>
              <th class="col-md-3">Send Through</th>
              <th class="col-md-3">Action</th>
            </tr>
          </thead>
          <tbody>
            <!-- 1st row -->
                                                                                                                                                                                                                                                                                        
            <!--  -->
            <tr class="col-1">
              <td>Premium Paid Certificate</td>
              <td> <input type="datetime-local" class="date" id="start-date" placeholder="choose date / time"></td>
              <td>  <button class="btn btn-info-1" type="button">
                <a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
              </button>
              <button class="btn btn-info-1" type="button" style="margin-left: 10px; margin-right:10px">
                <a href="mailto:"><i class="far fa-envelope"></i></a>
              </button>
              <button class="btn btn-info-1" type="button">
                <a href="mailto:"><i class="fa fa-message"></i></a>
              </button></td>
              <td>
                <button type="submit" class="btn btn-info-1" type="button">
                    <td><i class="fa fa-paper-plane"
                        aria-hidden="true"></i></td><!-- Replace "fas fa-check" with the appropriate icon class -->
                  </button>
                 
                  <button type="submit" class="btn btn-info-1" type="button" style="margin-left: 10px;">
                    <td style="margin-left:10px;"><i class="fa fa-download" aria-hidden="true"></i></td>
                </button>
              </td>
             
            </tr>
            <tr class="col-1">
                <td> Renewal Premium Receipt</td>
                <td> <input type="datetime-local" class="date" id="start-date" placeholder="choose date / time"></td>
                <td>  <button class="btn btn-info-1" type="button">
                  <a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
                </button>
                <button class="btn btn-info-1" type="button" style="margin-left: 10px; margin-right:10px">
                  <a href="mailto:"><i class="far fa-envelope"></i></a>
                </button>
                <button class="btn btn-info-1" type="button">
                  <a href="mailto:"><i class="fa fa-message"></i></a>
                </button></td>
                <td>
                  <button type="submit" class="btn btn-info-1" type="button">
                      <i class="fa fa-paper-plane"
                        aria-hidden="true"></i><!-- Replace "fas fa-check" with the appropriate icon class -->
                    </button>
                    <button type="submit" class="btn btn-info-1" type="button" style="margin-left: 10px;">
                        <td style="margin-left:10px;"><i class="fa fa-download" aria-hidden="true"></i></td>
                    </button>
                </td>
              </tr>
              <tr class="col-1">
                <td>First Premium Receipt</td>
                <td> <input type="datetime-local" class="date" id="start-date" placeholder="choose date / time"></td>
                <td>  <button class="btn btn-info-1" type="button">
                  <a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
                </button>
                <button class="btn btn-info-1" type="button" style="margin-left: 10px; margin-right:10px">
                  <a href="mailto:"><i class="far fa-envelope"></i></a>
                </button>
                <button class="btn btn-info-1" type="button">
                  <a href="mailto:"><i class="fa fa-message"></i></a>
                </button></td>
                <td>
                  <button type="submit" class="btn btn-info-1" type="button">
                      <i class="fa fa-paper-plane"
                        aria-hidden="true"></i><!-- Replace "fas fa-check" with the appropriate icon class -->
                    </button>
                    <button type="submit" class="btn btn-info-1" type="button" style="margin-left: 10px;">
                        <td style="margin-left:10px;"><i class="fa fa-download" aria-hidden="true"></i></td>
                    </button>
                </td>
              </tr>
              <tr class="col-1">
                <td>Policy Bond</td>
                <td> </td>
                <td><button class="btn btn-info-1" type="button">
                  <a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
                </button>
                <button class="btn btn-info-1" type="button" style="margin-left: 10px; margin-right:10px">
                  <a href="mailto:"><i class="far fa-envelope"></i></a>
                </button>
                <button class="btn btn-info-1" type="button">
                  <a href="mailto:"><i class="fa fa-message"></i></a>
                </button></td>
                <td>
                  <button type="submit" class="btn btn-info-1" type="button">
                      <i class="fa fa-paper-plane"
                        aria-hidden="true"></i><!-- Replace "fas fa-check" with the appropriate icon class -->
                    </button>
                    <button type="submit" class="btn btn-info-1" type="button" style="margin-left: 10px;">
                        <td style="margin-left:10px;"><i class="fa fa-download" aria-hidden="true"></i></td>
                    </button>
                </td>
              </tr>
              <tr class="col-1">
                <td>Bonus letter</td>
                <td><input type="datetime-local" class="date" id="start-date" placeholder="choose date / time"></td>
                <td><button class="btn btn-info-1" type="button">
                  <a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
                </button>
                <button class="btn btn-info-1" type="button" style="margin-left: 10px; margin-right:10px">
                  <a href="mailto:"><i class="far fa-envelope"></i></a>
                </button>
                <button class="btn btn-info-1" type="button">
                  <a href="mailto:"><i class="fa fa-message"></i></a>
                </button></td>
                <td>
                  <button type="submit" class="btn btn-info-1" type="button">
                      <i class="fa fa-paper-plane"
                        aria-hidden="true"></i><!-- Replace "fas fa-check" with the appropriate icon class -->
                    </button>
                    <button type="submit" class="btn btn-info-1" type="button" style="margin-left: 10px;">
                        <td style="margin-left:10px;"><i class="fa fa-download" aria-hidden="true"></i></td>
                    </button>
                </td>
              </tr>
              <tr class="col-1">
                <td>Unit Statement</td>
                <td><input type="datetime-local" class="date" id="start-date" placeholder="choose date / time"></td>
                <td><button class="btn btn-info-1" type="button">
                  <a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
                </button>
                <button class="btn btn-info-1" type="button" style="margin-left: 10px; margin-right:10px">
                  <a href="mailto:"><i class="far fa-envelope"></i></a>
                </button>
                <button class="btn btn-info-1" type="button">
                  <a href="mailto:"><i class="fa fa-message"></i></a>
                </button></td>
                <td>
                  <button type="submit" class="btn btn-info-1" type="button">
                      <i class="fa fa-paper-plane"
                        aria-hidden="true"></i><!-- Replace "fas fa-check" with the appropriate icon class -->
                    </button>
                    <button type="submit" class="btn btn-info-1" type="button" style="margin-left: 10px;">
                        <td style="margin-left:10px;"><i class="fa fa-download" aria-hidden="true"></i></td>
                    </button>
                </td>
              </tr>
              <tr class="col-1">
                <td>Loan Statement(if applicable)</td>
                <td><input type="datetime-local" class="date" id="start-date" placeholder="choose date / time"></td>
                <td><button class="btn btn-info-1" type="button">
                  <a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
                </button>
                <button class="btn btn-info-1" type="button" style="margin-left: 10px; margin-right:10px">
                  <a href="mailto:"><i class="far fa-envelope"></i></a>
                </button>
                <button class="btn btn-info-1" type="button">
                  <a href="mailto:"><i class="fa fa-message"></i></a>
                </button></td>
                <td>
                  <button type="submit" class="btn btn-info-1" type="button">
                      <i class="fa fa-paper-plane"
                        aria-hidden="true"></i><!-- Replace "fas fa-check" with the appropriate icon class -->
                    </button>
                    <button type="submit" class="btn btn-info-1" type="button" style="margin-left: 10px;">
                        <td style="margin-left:10px;"><i class="fa fa-download" aria-hidden="true"></i></td>
                    </button>
                </td>
              </tr>
              <tr class="col-1">
                <td>Assignments letters(if applicable)</td>
                <td></td>
                <td><button class="btn btn-info-1" type="button">
                  <a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
                </button>
                <button class="btn btn-info-1" type="button" style="margin-left: 10px; margin-right:10px">
                  <a href="mailto:"><i class="far fa-envelope"></i></a>
                </button>
                <button class="btn btn-info-1" type="button">
                  <a href="mailto:"><i class="fa fa-message"></i></a>
                </button></td>
                <td>
                  <button type="submit" class="btn btn-info-1" type="button">
                      <i class="fa fa-paper-plane"
                        aria-hidden="true"></i><!-- Replace "fas fa-check" with the appropriate icon class -->
                    </button>
                    <button type="submit" class="btn btn-info-1" type="button" style="margin-left: 10px;">
                        <td style="margin-left:10px;"><i class="fa fa-download" aria-hidden="true"></i></td>
                    </button>
                </td>
              </tr>
              <tr class="col-1">
                <td>All Communications from DMS</td>
                <td><input type="datetime-local" class="date" id="start-date" placeholder="choose date / time"></td>
                <td><button class="btn btn-info-1" type="button">
                  <a href="https://web.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
                </button>
                <button class="btn btn-info-1" type="button" style="margin-left: 10px; margin-right:10px">
                  <a href="mailto:"><i class="far fa-envelope"></i></a>
                </button>
                <button class="btn btn-info-1" type="button">
                  <a href="mailto:"><i class="fa fa-message"></i></a>
                </button></td>
                <td>
                  <button type="submit" class="btn btn-info-1" type="button">
                      <i class="fa fa-paper-plane"
                        aria-hidden="true"></i><!-- Replace "fas fa-check" with the appropriate icon class -->
                    </button>
                    <button type="submit" class="btn btn-info-1" type="button" style="margin-left: 10px;">
                        <td style="margin-left:10px;"><i class="fa fa-download" aria-hidden="true"></i></td>
                    </button>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
  </div>  
