<div class="rightsidebar">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Comments</h3>
            </div>
            <div class="card-body pb-0">
                <div class="news" style="height: 200px; overflow-y: scroll;">
                    <div class="post-item clearfix">
                        <!-- <img src="assets/img/news-1.jpg" alt=""> -->
                        <h6>Basic Details<i style="font-size:15px" class="fa">&#xf0d7;</i></h6>
                        <p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>
                    </div>

                    <div class="post-item clearfix">
                        <!-- <img src="assets/img/news-2.jpg" alt=""> -->
                        <h6>Financial & Visibility <i style="font-size:15px" class="fa">&#xf0d7;</i>
                        </h6>
                        <p>Illo nemo neque maiores vitae officiis cum eum turos elan dries werona nande...</p>
                    </div>

                    <div class="post-item clearfix">
                        <!-- <img src="assets/img/news-3.jpg" alt=""> -->
                        <h6>Medicals<i style="font-size:15px" class="fa">&#xf0d7;</i></h6>
                        <p>Fugiat voluptas vero eaque accusantium eos. Consequuntur sed ipsam et totam...</p>
                    </div>
                    <div class="post-item clearfix">
                        <!-- <img src="assets/img/news-3.jpg" alt=""> -->
                        <h6>Medicals<i style="font-size:15px" class="fa">&#xf0d7;</i></h6>
                        <p>Fugiat voluptas vero eaque accusantium eos. Consequuntur sed ipsam et totam...</p>
                    </div>
                    <div class="post-item clearfix">
                        <!-- <img src="assets/img/news-3.jpg" alt=""> -->
                        <h6>Medicals<i style="font-size:15px" class="fa">&#xf0d7;</i></h6>
                        <p>Fugiat voluptas vero eaque accusantium eos. Consequuntur sed ipsam et totam...</p>
                    </div>
                </div><!-- End sidebar recent posts-->
            </div>
        </div>


   <div class="card card-primary">
            <div class="card-header">
                <h5 class="card-title">Underwriter Decision<i style="font-size:15px" class="fa">&#xf0d7;</i></h5>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div class="form-group">
                    <label for="comments"></label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="form-group mt-2">
                    <label>Select decision:</label>
                    <select id="select decision" name="select decision">
                        <option value="all">Refer to approver</option>
                        <option value="books">Books</option>
                        <option value="movies">Movies</option>
                        <option value="music">Music</option>
                    </select>
                </div>
                <div class="form-group mt-2">
                    <label>Assign to:</label>
                    <input type="text" id=" " name="search" placeholder=" ">
                </div>

                <div class="form-group mt-2">
                    <label>Feedback:</label>
                    <select id="select decision" name="select decision">
                        <option value="all">Select feedback</option>
                        <option value="books">Books</option>
                        <option value="movies">Movies</option>
                        <option value="music">Music</option>
                    </select>
                </div>
                <div class="class" style="display:flex; margin-top:10px;">
                    <button class="btn btn-info">clear</button>
                    <button class="btn btn-info">submit</button>
                </div>

                <div class="form-group mt-2">
                    <select id="select decision" name="select decision">
                        <option value="all">Requirement</option>
                        <option value="books">Books</option>
                        <option value="movies">Movies</option>
                        <option value="music">Music</option>
                    </select>
                </div>


                <div class="form-group mt-2">
                    <select id="select decision" name="select decision">
                        <option value="all">Ad-hoc upload</option>
                        <option value="books">Books</option>
                        <option value="movies">Movies</option>
                        <option value="music">Music</option>
                    </select>
                </div>


                <div class="form-group mt-2">
                    <select id="select decision" name="select decision">
                        <option value="all">Counter offer</option>
                        <option value="books">Books</option>
                        <option value="movies">Movies</option>
                        <option value="music">Music</option>
                    </select>
                </div>

            </div>
            <!-- /.card-body -->
        </div>
    </div>
</div>