
input{
  width: 100%;
 
}
.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1;
    color: #000000;
    text-align: center;
    white-space: nowrap;
    background-color:transparent !important; 
    border: 0px solid #ced4da;
    border-radius: 0.375rem;
    padding-top: 10px;
} 

.table>:not(caption)>*>* {
    padding: 0.1rem 0.1rem !important; 
   background-color: var(--bs-table-bg);

   border-bottom-width: 1px;
   box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}


.table {
   --bs-table-color: var(--bs-body-color);
   --bs-table-bg: transparent;
   /* --bs-table-border-color: var(--bs-border-color); */
   --bs-table-border-color:var(--bs-gray-300);
   --bs-table-accent-bg: transparent;
   --bs-table-striped-color: var(--bs-body-color);
   --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
   --bs-table-active-color: var(--bs-body-color);
   --bs-table-active-bg: rgba(0, 0, 0, 0.1);
   --bs-table-hover-color: var(--bs-body-color);
   --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
   width: 100%;
   margin-bottom: 1rem;
   color: var(--bs-table-color);
   vertical-align: top;
   border-color: var(--bs-table-border-color);
    padding-right: 5px;
    padding-left: 5px;

}


 .form-select {
    display: block;
    width: auto!important;
    /* padding: 0.375rem 1.25rem 0.375rem 0.75rem; */
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
   
    /* background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e); */
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    appearance: none;
}


.form-switch .form-check-input {
    margin-right: 0.5rem;
  }
  
  .form-switch .form-check-label {
    display: flex;
    align-items: center;
  }
  
  

.col-6{
    background-color: transparent;}
  
.form-switch .form-check-input {
  width: 3em;
  margin-left: 15px;
 
}


.input-group-icons .input-group-text {
    display: flex;
    align-items: center;
  }
  
  .input-group-icons .input-group-text a {
    margin-right: 10px;
  }

  .btn-info-1{
    --bs-btn-color: #a81c1f;
    --bs-btn-bg: #f0edec;
    --bs-btn-border-color: #a81c1f;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #31d2f2;
    --bs-btn-hover-border-color: #25cff2;
    --bs-btn-focus-shadow-rgb: 11,172,204;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #3dd5f3;
    --bs-btn-active-border-color: #25cff2;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #0dcaf0;
    --bs-btn-disabled-border-color: #0dcaf0;
}

a {
    color: var(--bs-red);
    text-decoration: underline;
}


main{
    margin: 0% 0.3% 5% 0.3%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.0 * var(--bs-gutter-x)); 
}


.date{
  margin:10px;
  border:transparent;
}


.ndheader{
  width:80%;
}


.container-fluid {
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid #e9ecef96;
  border-right: none!important;
  width: 90%;
}

.container-fluid > .row {
  flex: 1;
  /* padding: 5px; */
}

.renewal-request{
  margin-bottom: 30px;

}



.form-select{
  color: #a81c1f;
  border: 1px solid #000000;
}



.btn-info{
  --bs-btn-color: #b31c1f;
  --bs-btn-bg: var(--bs-white);
  --bs-btn-border-color: #000;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #dee2e6;
  --bs-btn-hover-border-color: #000;
  --bs-btn-focus-shadow-rgb: 11, 172, 204;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #fff;
  --bs-btn-active-border-color: #25cff2;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #0dcaf0;
  --bs-btn-disabled-border-color: #0dcaf0;
}

.link-button {
    background: none;
    border: none;
    padding: 0;
    color: black;
    text-decoration: underline;
    cursor: pointer;
  }