

/* Basic styles for the header */
header {
     background-color: #fff; 
    /* background-color:#daeffe; */
    /* background-color:var(--bs-border-color-translucent); */
    color: #fff;
    padding: 1rem;
}

header h1 {
    font-size: 2rem;
}

/* Basic styles for the navigation */
nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Basic styles for the main content */


section {
    margin-bottom: 2rem;
}

section h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

section p {
    font-size: 1rem;
    line-height: 1.5;
}

/* Basic styles for the footer */


 footer {
    background-color: #f2f2f2;
     margin-top:10px;
    text-align: center;
    width:100%;
    left: 0;
    bottom: 0;
} 


p {
    margin: 0;
    font-size: 14px;
    color: #888;
}


/* toggle bar */

nav {
    display: flex;
    align-items: center;
}

.logo-container {
    margin:0px 0px 0px 4%;
    /* adjust this value to add some spacing between the logo and the toggle bar */
}

.toggle-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    position: relative;
    cursor: pointer;
    left:10px;
}

.toggle-bar span {
    display: block;
    height: 2px;
    background-color: black;
}

.admin-profile {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 8px;
}

.username {
    font-weight: bold;
    color: black;
}

.role {
    font-size: 10px;
    color: black;
}

.profile-details {
    margin-right:10px;
}
/*toggle close  */

/* sidebar page open */

.container {
    display: flex;
}

.sidebar {
    background-color: #f2f2f2;
    padding: 20px;
   
}

.search-box {
    margin-bottom: 20px;
}

.search-box input[type="text"] {
    width: 100%;
    padding: 8px;
}

.search-box button {
    padding: 8px;
    background-color: #ddd;
    border: none;
}

.filter-options {
    margin-top: 20px;
}

.filter-options h3 {
    margin-top: 0;
}

.filter-row {
    margin-bottom: 10px;
}

.filter-row input[type="checkbox"] {
    margin-right: 5px;
}

.search-input button {
    background: none;
    border: none;
    padding: 0;
  }
  
  .search-input button i {
    font-size: 18px;
    color: #333; /* Customize the color of the search icon */
  }

  .sidebar.col-md-4 {
    width: 20%;
  }
  
  .search-form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .search-form label,
  .filter-options label {
    margin-bottom: 5px;
  }
  
  .search-form .search-input {
    display: flex;
    align-items: center;
  }
  
  .search-form input[type="text"],
  .filter-options select{
    width: 100%;
    padding: 8px;
  }
  
  .filter-options .form-group:last-child {
    margin-bottom: 0;
  }
  
  .filter-options button {
    width: 100%;
    padding: 10px;
  }
  

  .search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: red;
    border: 1 px solid;
    cursor: pointer;
  }
  
  .search-button i {
    margin-right: 5px; /* Optional: Add some space between the icon and the button text */
    border: 1px solid;
    line-height: 33.5px;
    text-rendering: auto;
    width: 40px;
  }

  .form-group{
    margin:20px 0px 10px 0px;
  }

 

  
  
  .date-input {
    flex: 1;
    padding: 8px;
  }
  
  .date-input input[type="date"] {
    width: 100%;
    padding: 6px;
  }
  

  .btn-apply
    {
        margin-top: 10px;
        width: 100%;
        padding: 10px;
        background-color: black;
        color: #fff;
    }
  
/* sidebar page close */


/* mobile and tablet mode */

@media (max-width: 768px) {
    /* Header */
    .toggle-bar,
    .logo-container,
    .admin-profile {
        /* display: block; */
        text-align: center;
        margin-bottom: 10px;
    }

    .profile-details {
        margin-top: 10px;
    }

    /* Sidebar */
    .row.sidebar {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .filter-options {
        margin-top: 20px;
    }
}

/* Adjustments for tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Sidebar */
    .row.sidebar {
        flex-direction: row;
    }

    .filter-options {
        margin-top: 0;
    }
}

.badge {
    --bs-badge-padding-x: 0.65em;
    --bs-badge-padding-y: 0.35em;
    --bs-badge-font-size: 0.75em;
    --bs-badge-font-weight: 700;
    --bs-badge-color: #fff;
    --bs-badge-border-radius: 0.375rem;
    display: inline-block;
    padding: var(--bs-badge-padding-y) var(--bs-badge-padding-x);
    font-size: var(--bs-badge-font-size);
    font-weight: var(--bs-badge-font-weight);
    line-height: 1;
    color: var(--bs-badge-color);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: var(--bs-badge-border-radius);
    background-color: green;
}
