<div class="container-fluid">
<nav mb-3>
    <div class="toggle-bar">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="logo-container">
        <img src="assets/img/logo.png" alt="Logo">
    </div>

    <div class="admin-profile">
        <div class="profile-details">
            <span class="username">John Doe</span><br>
            <span class="role">Admin</span>
        </div>
        <img src="assets/img/profile-img.jpg" alt="Admin Profile" class="profile-image">
    </div>
    
</nav>
</div>